.bg-picture{
    background-color:#eee;
    background-image:url("images/art\ 1.jpeg");
    background-size:cover;
    background-position:top right;
    width:100%;
}


.banner{
    height:80vh;

}

.brand{
    height:fit-content;
    overflow-x: none;
}

