.bg-picture{
    background-color:#eee;
    background-image:url("images/banner\ 1.3-min.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top right;
    width:100%;
}


.banner{
    height:80vh;

}

